/*contents*/
* {
	box-sizing: border-box;
}
.grid-item {
	width: 33.3%;
	padding: 8px;
}
.grid-item.half {
	width: 50%;
}
.grid-item.full {
	width: 100%;
}
.grid-item img {
	display: block;
	width: 100%
}
/*
@media only screen and (min-width:751px) and (max-width:980px){
  .grid-item {
  	width: 50%;
  }
}
*/
@media only screen and (max-width:750px){
	.padding-left{padding-left: 0px;}
  .grid-item {width: 50%;}
}


.categoryBtn{
  position:relative;
  display:flex;
  flex-wrap: wrap;
  width:100%;
}
.categoryBtn div{
  padding:.5em 1em;
  margin:0 1em;
  background:pink;
  filter: grayscale(1);
  width: calc((100% - 12em ) / 3);
  cursor:pointer;
}
.categoryBtn div#btnAll {
  width: 100%;
  margin-bottom: 1em;
}
.categoryBtn div.active{
  filter: grayscale(0);
  color:#fff;
}
