::selection {
    background: #000;
    color: #fff;
}
#pTopImg{
  background: #15212e;
}
.pTitle{
  padding: 1em;
font-size: 2em;
font-family: "Osaka-Mono", "Osaka−等幅",sans-serif;
margin: auto;
color: #fff;
position: absolute;
top: calc(50% - 2em);
left: calc(50%);
transform: translate(-50%);
}

.conceptArea{
	height: 600px;
}
.conceptTxt{
	width: 50%;
	text-align: left;
	position: absolute;
  bottom: 100px;
  overflow-wrap:anywhere;
}
.conceptImg{
	width: 45%;
	height: 600px;
	background-image: ;
  background-position: center;
	display: block;
	position: absolute;
	top: 100px;
	right: 100px;
	z-index: -1;
}

.copyArea{
	height: calc(100vh - 200px);
	max-width: unset;
  position: relative;
}
.copyAreaBG{
  width: 100%; height: 100%;
  background-image: url(../img/pIG/internetGhost.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 64%;
  mix-blend-mode: plus-lighter;
  animation:blurAnime 10s ease infinite;
  }
@keyframes blurAnime{
  0% {filter: blur(11px);transform: translateY(-5px);}
  10% {filter: blur(0px);}
  5% {filter: blur(2px);}
  10% {filter: blur(0px);}
  20% {filter: blur(2px);}
  30% {filter: blur(0px);transform: translateY(10px)}
  32% {filter: blur(3px);}
  40% {filter: blur(0px);}
  50% {filter: blur(3px);}
  60% {filter: blur(0px);transform: translateY(6px)}
  70% {filter: blur(3px);}
  90% {filter: blur(0px);transform: translateY(0px)}
  100% {filter: blur(10px);transform: translateY(-5px)}
}

.projectedBy{
	text-align: center;
	font-family: "Osaka-Mono",sans-serif;
	font-size: 1.2em;
}
.projectedBy a img{
	width: auto;
	height: 75px;
}

.NOTHING.prjIG{
	background-image: url(../img/#.png);
	background-position: left top;
}

.codeTxtObj{
  position:relative;
}
.codeTxtObj::after{content:"";transform:scaleY(0);}
.codeTxtObj p{
  width: 0;
  overflow:hidden;
  height:1.2em;
  padding-bottom:.5em;
  margin:0 0 0 .5em;
  color: #fff;
}
.codeTxtObj.codeTxt::after{
  position:absolute;
  top:0;
  left:-.5em;
  width:5px;
  height:100%;
  background:#fff;
  transition:ease-out;
  animation-name:lineTtoB;
  animation-duration:.5s;
  animation-fill-mode:forwards;
}
@keyframes lineTtoB{
  from {
    transform:scaleY(0);
    transform-origin:top;
  }
  to {
    transform:scaleY(1);
    transform-origin:top;
  }
}
.codeTxtObj.codeTxt p{
  animation-name:textLtoR;
  animation-delay: .1s;
  animation-duration:.8s;
  animation-fill-mode:forwards;
  transition:ease-out;
  }
@keyframes textLtoR{
  from {
    width:0;
  }
  to {
    width:20em;
  }
}

.codeTxtContainer{
  position: absolute;
}


@media only screen and (max-width:750px){
  section{padding: 100px 2em;}
  .conceptImg{
    width: 100%; left: 0;
  }
  .conceptTxt{ width: 70%;}
  .NOTHING.prjIG{ padding: unset;}
}
