

.conceptArea{
	height: 500px;
}
.conceptTxt{
	width: 50%;
	text-align: left;
	position: absolute;
  bottom: 100px;
}
.conceptImg{
	width: 45%;
	height: 500px;
	background: aquamarine;
	display: block;
	position: absolute;
	top: 100px;
	right: 100px;
	z-index: -1;
}

.copyArea{
	height: calc(100vh - 200px);
	max-width: unset;
}


.projectedBy{
	text-align: center;
	font-family: "Osaka-Mono",sans-serif;
	font-size: 1.2em;
}
.projectedBy a img{
	width: 20em;
	height: 75px;
}
