/*all*/
body{
    min-width: 600px;
    margin: auto;
    align-content: center;
    font-family: "Gill Sans", sans-serif;
    color: #888;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
main{
}
.bgImg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #aaa;
}
.profileIcon{
  background-image: url(../img/profileIcon.jpg);
  width: 140px; height: 140px;
  margin: 0 0em 1em 3em;
	border-radius: 50%;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}

.flex.profile{ justify-content: center; padding-top:1em;}
.flex.profile .flex{
  flex-direction: column;
}

.menu-bg{
    z-index: 9;
    width: 150px;
    height: 400px;
    position: fixed;
    top: 0px;
    left: 40px;
    background-color: #39444e;
    mix-blend-mode: hard-light;
    backdrop-filter: blur(4px);
}
.bookmarker{
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 40px;
    width: 150px;
    height: 400px;
}
.bookmarker .menu-title{
  width: 250px;
  transform: rotate(90deg);
  background-color: #fff;
  top: 50px;
  right: -25px;
  position: absolute;
  font-size: 3em;
}
.bookmarker div a{
    color:#878787;
    margin-left: 45px;
}
.bookmarker nav{
    position: absolute;
    bottom: 0;
    right: 25px;
    font-size: 1.5em;
    text-align: right;
    line-height: 1.5em;
}
.bookmarker li a{
    color: #fff;
}
.wrap{
    overflow: hidden;
}

/*header*/
header{
    font-size: 3em;
    position: fixed;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.3), rgba(255,255,255,0));
    width: 100%; height: 90px;
    min-width: 600px;
    z-index: 8;
    pointer-events: none;
    mix-blend-mode: luminosity;
}
.title-L{
    position: relative;
    float: left;
    left: 50px;
    top: -10px;
}
#titlechart{
  position: relative;
  padding: 0 1em;
}
.SectionNo{
    position: relative;
    float: right;
    right: 50px;
    top: 0px;
}

footer{
  position: fixed;
  bottom: 1.4em;
  left: 40px;
  mix-blend-mode: luminosity;
  z-index: 10;
}
li{
    list-style: none;
}
a{
    color: #888;
    text-decoration: none;
    display: block;
	transition:.3s;
}
a:hover{
	color: #7096a5;
}
p{
    text-align: left;
    font-size: 1.2em;
    margin: 0 0em 1em 3em;
}
::selection {
    background: #e8fcfc;
    color: #7096a5;
}
.main{
    padding: 20px 0;
    max-width: 860px;
    min-width: 600px;
    margin: auto;
    }
.padding-left{
    padding-left: 190px;
}
.pageJ {
  padding-top: 60px;
  margin-left: 20px;
  line-height: 2.5rem;
}
.pageJ li{
  float: left;
  margin-right: 40px;
  font-size: 1.4em;
  font-weight: 600;
}
.pageJ li a{
  color: #7096a5;
}

/*000*/
.title{
  padding: 1em;
  font-size: 3em;
  margin: auto;
  color: #555;
  position: absolute;
  background: #fffd;
  top: calc(50% - 2em);
  left: calc(50% - 2.2em);
}
.TopView{
  position: relative;
}
.TopImg{
        width: 100%;
        height: 100vh;
        background:#d8e0e9;
        background-size: cover;
        background-position: center;
    }
.TopImg::after{
  content: '';
  display: block;
  position: absolute;
  border: solid 3px #fffe;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}
.scrolldown{
	position:absolute;
	right: 9%;
	bottom:4%;
	height:75px;
  mix-blend-mode: multiply;
}
.scrolldown span{
	position: absolute;
  left: -5px;
  top: 25px;
	font-size: 0.8rem;
	letter-spacing: 0.05em;
  transform: rotate(90deg);
}
.scrolldown::after{
	content: "";
    /*描画位置*/
	position: absolute;
	top: 0;
    /*線の形状*/
	width: 1px;
	height: 50px;
	background: #888;
    /*線の動き1.4秒かけて動く。永遠にループ*/
	animation: pathmove 1.4s ease-in-out infinite;
	opacity:1;
}
@keyframes pathmove{
	0%{
		height:0;
		top:0;
		opacity: 1;
	}
	30%{
		height:50px;
		opacity: 1;
	}
	100%{
		height:0;
		top:75px;
		opacity: 1;
	}
}

section{
  max-width: 900px;
  margin: auto;
  position: relative;
  padding: 100px;
}
.topAbout-bg{
  height: 64px;
  width: fit-content;
}
.topGallery{
  width: 100%;
  min-height: 300px;
  background: #ddd;
  padding: 0  calc(50% - 450px);
}
.topGallery a div{
  right:  calc(50% - 450px);
}


/*about*/
.parallaxParent {
    height: 40vh;
    overflow: hidden;
	position:relative;
}
.parallaxParent > * {
    height: 140%;
    position: relative;
    top: -70%;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;

}
.parallaxParent div::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
	opacity:.5;
    top: 0;
}
.parallaxParent#parallax1 div::after{
	content: "";
	background-color:#17416a;
}
.parallaxParent#parallax2 div::after{
	content: "";
	background-color:#17416a;
}
.parallaxParent#parallax3 div::after{
	content: "";
	background-color:#17416a;
}

.parallaxParent h2{
  font-family: "Gill Sans", sans-serif;
    font-size: 36px;
    color: #fff;
    clear: both;
    margin-left: 1em;
    font-weight: normal;
    text-align: left;
    height: fit-content;
    position: absolute;
    top: calc(80% - 36px);
    transform: translateY(-50%);}

.about-content{
  max-width: 900px;
}
.about-content p a{
  display: inline-block;
}

.NOTHING{
    text-align: center;
    height: 40vh;
    background-image: url(../img/lab000.png);
    background-position: left top;
    background-size: cover;
    padding-top: 50px;
    background-attachment:fixed;
    color: #fff;
	background-blend-mode: multiply;
    background-color: #17416a;
}

@media only screen and (max-width:750px){
	body{
		min-width:unset;
		width:100%;
	}
	.TopImg{
		min-height: 100vh; /* Fallback */
		min-height: calc(var(--vh, 1vh) * 100);
	}
  .title{ top:45%; left:50%; transform: translate(-50%, -50%);}
  .padding-left{padding-left: 100px;}
  p, .profileIcon{ margin: 0 0em 1em 0}
	.flex.profile{ align-content: center; align-items: center; flex-direction: column;}
  .NOTHING{ padding-left: 3em;
    background-attachment:scroll;}
}

.pc{ display:block;}
.sp{ display:none!important;}

@media only screen and (max-width:750px){
	.pc{ display:none!important;}
	.sp{ display:block;}
}
